<div class="screen">
    <%- include('../templates/sidenav'); -%>
    
    <div class="content">
        <form id="update-foodsession-form">
            <div>
            <div class="content-block">
                <div class="row-center">
                    <h1>
                        <%= foodsession.name %>
                        - settings
                    </h1>
                </div>
            </div>
            
            <input name="foodsession-id" value="<%=foodsession.id%>" type="hidden"> 

            <div class="content-card">
                <div class="row-center">
                    <div class>
                        <div>is this a single or weekly appointment?</div>
                        <div class="row-center">
                            <select name="foodsession-appointment-type" id="foodsession-appointment-type" class="select row-center" onchange="setFoodsessionAppointmentType()">
                                <option value="">?</option>
                                <option <% if(input.foodsessionAppointmentType == "single-session"){%> selected <%} %> value="single-session"> Single Session</option>
                                <option <% if(input.foodsessionAppointmentType == "weekly-fooding"){%> selected <%} %> value="weekly-fooding"> Weekly Fooding</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div id="weekly-fooding-container" class="row-center" <%= input.foodsessionAppointmentType == "weekly-fooding" ? "" : 'style=display:none;'%>>
                    <div class="">
                        <div class="row-center">
                            <div>
                                <div class="checkbox-container">
                                    Individual Times
                                    <input id="individual-time-switch" class="checkbox" type="checkbox" <% if(input.isIndividualTimeSwitchChecked){%> checked <%} %> onchange="toggleSessionTimeInput()"></input>
                                </div>
                                <div id="collective-session-time-container" class="checkbox-container">
                                    <div class="checkbox-container">
                                        Collective Session Time: 
                                        <input class="input" name="collective-session-time" id="collective-session-time" type="time" value="<%=input.collectiveSessionTime%>"></input>
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <div class="row-center">
                            set weekly schedule:
                        </div>
                            <div class="checkbox-container">
                                Monday   
                                <input id="is-monday-switch"    class="checkbox"        type="checkbox" <% if(input.isMondaySwitchChecked == 1)     {%> checked <%} %>></input>
                                <input name="individual-time"   class="individual-time" type="time" value="<%= input.foodtimeMonday %>"></input>
                            </div>
                            <div class="checkbox-container">
                                Tuesday
                                <input id="is-tuesday-switch"   class="checkbox"        type="checkbox" <% if(input.isTuesdaySwitchChecked == 1)    {%> checked <%} %>></input>
                                <input name="individual-time"   class="individual-time" type="time" value="<%= input.foodtimeTuesday %>"></input>
                            </div>
                            <div class="checkbox-container">
                                Wednesday
                                <input id="is-wednesday-switch" class="checkbox"        type="checkbox" <% if(input.isWednesdaySwitchChecked == 1)  {%> checked <%} %>></input>
                                <input name="individual-time"   class="individual-time" type="time" value="<%= input.foodtimeWednesday %>"></input>
                            </div>
                            <div class="checkbox-container">
                                Thursday 
                                <input id="is-thursday-switch"  class="checkbox"        type="checkbox" <% if(input.isThursdaySwitchChecked == 1)   {%> checked <%} %>></input>
                                <input name="individual-time"   class="individual-time" type="time" value="<%= input.foodtimeThursday %>"></input>
                            </div>
                            <div class="checkbox-container">
                                Friday   
                                <input id="is-friday-switch"    class="checkbox"        type="checkbox" <% if(input.isFridaySwitchChecked == 1)     {%> checked <%} %>></input>
                                <input name="individual-time"   class="individual-time" type="time" value="<%= input.foodtimeFriday %>"></input>
                            </div>
                            <div class="checkbox-container">
                                Saturday 
                                <input id="is-saturday-switch"  class="checkbox"        type="checkbox" <% if(input.isSaturdaySwitchChecked == 1)   {%> checked <%} %>></input>
                                <input name="individual-time"   class="individual-time" type="time" value="<%= input.foodtimeSaturday %>"></input>
                            </div>
                            <div class="checkbox-container">
                                Sunday   
                                <input id="is-sunday-switch"    class="checkbox"        type="checkbox" <% if(input.isSundaySwitchChecked == 1)     {%> checked <%} %>></input>
                                <input name="individual-time"   class="individual-time" type="time" value="<%= input.foodtimeSunday %>"></input>
                            </div>
                    </div>
                </div>

                <div id="single-session-container" class="row-center" <%= input.foodsessionAppointmentType == "single-session" ? "" : "style=display:none"%>>
                    <div>
                        <div class="row-center">set time:</div>
                        <input class="input" name="single-session-time" type="time" value="<%=input.singleSessionTime%>"></input>
                    </div>
                </div>
            </div>
            <div class="content-card">

                <div id="decision-container" class="row-center">
                    <div>
                        <h3>
                            How do you decide what to eat?
                        </h3>
                        <div class="row-center">
                            <select name="foodsession-decision-type" class="select" id="foodsession-decision-type" onchange="setFoodsessionDecisionType()">
                                <option default value="unset">?</option>
                                <option <% if(input.foodsessionDecisionType == 2){%> selected <%} %> value="roulette">       Roulette</option>
                                <option <% if(input.foodsessionDecisionType == 3){%> selected <%} %> value="poll">           Poll</option>
                                <option <% if(input.foodsessionDecisionType == 4){%> selected <%} %> value="swyping">        Swyping</option>
                                <option <% if(input.foodsessionDecisionType == 5){%> selected <%} %> value="individual">     Individual</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="content-card">

                <div class="row-center" id="roulette-container" <%= input.foodsessionDecisionType == 2 ? "" : 'style="display:none"'%>>
                    <div>
                        <div class="info-card">
                            get a random restaurant in your area
                        </div>

                        <h3>
                            Set filters for the food roulette.
                        </h3>

                        <div class="row-center">
                            <select class="select" name="roulette-radius" id="distanceSelect" onchange="updateDistanceSelect()">
                                <option value="1"       <% if(input.rouletteRadius == 1)        {%> selected <%} %>>1 km</option>
                                <option value="2"       <% if(input.rouletteRadius == 2)        {%> selected <%} %>>2 km</option>
                                <option value="3"       <% if(input.rouletteRadius == 3)        {%> selected <%} %>>3 km</option>
                                <option value="5"       <% if(input.rouletteRadius == 5)        {%> selected <%} %>>5 km</option>
                                <option value="10"      <% if(input.rouletteRadius == 10)       {%> selected <%} %>>10 km</option>
                                <option value="15"      <% if(input.rouletteRadius == 15)       {%> selected <%} %>>15 km</option>
                                <option value="20"      <% if(input.rouletteRadius == 20)       {%> selected <%} %>>20 km</option>
                                <option value="custom"  <% if(input.rouletteRadius == 'custom') {%> selected <%} %>>custom (km)</option>
                            </select>

                            <input class="input" type="number" min="1" max="100" id="distanceInput" style="display: none;">
                        </div>
                    </div>
                </div>

                <div class="row-center" id="poll-container" <%= input.foodsessionDecisionType == 3 ? "" : 'style="display:none"'%>>
                    <div>
                        <div class="info-card">
                            create a poll of everyones favorite food-options for the people in the foodsession to vote on.
                        </div>

                        <div class="row-center">
                            <h3>
                                Poll settings:
                            </h3>
                        </div>
                        <div class="row-center">
                            <div class="checkbox-container">
                                <input id="is-poll-multiple-answers" class="checkbox" type="checkbox" <% if(input.isPollMultipleAnswersChecked == true){%> checked <%} %>>allow Multiple answers</input>
                            </div>
                            <div class="checkbox-container">
                                <input id="is-poll-answers-anonymous" class="checkbox" type="checkbox" <% if(input.isPollAnswersAnonymousChecked == true){%> checked <%} %>>anonymous answers?</input>
                            </div>
                        </div>
                        <div class="row-center">
                            <h3>
                                Poll options:
                            </h3>
                        </div> 
                        <div class="row-center">
                            <input id="add-poll-option-input" class="input" type="text" placeholder="add poll option">
                            <div class="link-button" onclick="addPollOption()">
                                <img title="add poll option" alt="add poll option" src="/public/assets/icon-add-white.png">
                            </div>
                        </div>
                        <div class="row-center">
                            <div id="poll-options-container">
                                <% for(var i = 0; i < input.pollAnswers.length; i++) { %>
                                    <div id="poll-option-container-<%= i %>" class="body-row" data-number="<%= i %>">
                                        <div class="col-size-2">
                                            <div class="poll-item-text"><%= input.pollAnswers[i].name %></div>
                                        </div>
                                        <div class="col-size-2">
                                            <div class="link-button" onclick="deletePollOption(<%= i %>)">
                                                <img title="delete poll option" alt="delete poll option" src="/public/assets/icon-delete-white.png">
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-center" id="swyping-container" <%= input.foodsessionDecisionType == 4 ? "" : 'style="display:none"'%>>
                    <div>
                        <div class="info-card">
                            This works like tinder - but for food! Each participant will swype - 
                            in the end, youll have a list of food options that everyone is fine with.
                        </div>
                        
                        <div class="row-center">
                            <h3>
                                Set filters for the food swype.
                            </h3>
                        </div>

                        <div class="row-center">
                            <select class="select" name="swype-radius" id="distanceSelect" onchange="updateDistanceSelect()">
                                <option value="1"        <% if(input.swypeRadius == 1)          {%> selected <%}%> >1 km</option>
                                <option value="2"        <% if(input.swypeRadius == 2)          {%> selected <%}%> >2 km</option>
                                <option value="3"        <% if(input.swypeRadius == 3)          {%> selected <%}%> >3 km</option>
                                <option value="5"        <% if(input.swypeRadius == 5)          {%> selected <%}%> >5 km</option>
                                <option value="10"       <% if(input.swypeRadius == 10)         {%> selected <%}%> >10 km</option>
                                <option value="15"       <% if(input.swypeRadius == 15)         {%> selected <%}%> >15 km</option>
                                <option value="20"       <% if(input.swypeRadius == 20)         {%> selected <%}%> >20 km</option>
                                <option value="custom"   <% if(input.swypeRadius == 'custom')   {%> selected <%}%> >custom (km)</option>
                            </select>

                            <input class="input" type="number" min="1" max="100" id="distanceInput" style="display: none;">
                        </div>
                    </div>
                </div>

                <div class="row-center info-card" id="individual-container" <%= input.foodsessionDecisionType == 5 ? "" : 'style="display:none"'%>>
                    Users will be able to individually set when theill go to get their food and when to eat it.
                    This is perfect for larger groups where its not guaranteed that you all get food from the same place. 
                </div>
                
            </div>
            <div class="row-center">
                <a class="link-button" href="/flock-show/<%=encodeURIComponent(JSON.stringify({id: foodsession.fkFlockId}))%>/foodsession-show/<%=encodeURIComponent(JSON.stringify({id: foodsession.id}))%>">
                    <img title="show foodsession" alt="show foodsession" src="/public/assets/icon-back-white.png">
                </a>
                <button type="submit" class="button">save</button>
            </div>
        </form>
    </div>  
</div>

<script src="/public/scripts/foodsessionEdit.js"></script>