<div class="screen">
    <%- include('../templates/sidenav'); -%>
    
    <div class="content-block">
        
        <div class="head-row">
            <div class="col-size-2">name</div>
            <div class="col-size-2">actions</div>
        </div>
        
        <% foodsessions.forEach(function(foodsession) { %>
            
            <div class="body-row">
                
                <div class="col-size-2" data-tooltip= "<%=foodsession.name%>"><%= foodsession.name == undefined || null? '-' : foodsession.name %></div>
                
                <div class="col-size-2">
                    <a class="link-button" href="/foodsession-show/<%=encodeURIComponent(JSON.stringify({id: foodsession.id}))%>">
                        <img title="show foodsession" alt="show foodsession" src="/public/assets/icon-show-white.png">
                    </a>
                    
                    <a class="link-button" href="/foodsession-leave/<%=encodeURIComponent(JSON.stringify({id: foodsession.id}))%>">
                        <img title="leave foodsession" alt="leave foodsession" src="/public/assets/icon-leave-white.png">
                    </a>
                </div>
            </div>  
        <% }); %>        
    </div>
</div>