<div class="screen">
    <%- include('../templates/sidenav'); -%>
    
    <div class="content">
        
        <div class="content-block">
            <div class="row-center">
                <h1>Foodsession</h1>
            </div>
        </div>
        
        <div class="content-card">
            
            <div class="row-center">
                <h2>
                    <%= foodsession.name %>
                </h2>
            </div>

            <% if(isFlockLeader) { %>
                <h2>foodsession settings</h2>
                <div class="row-center">
                    <div>
                        <div>set foodsession-type:</div>
                        <select id="foodsession-type" class="select" onchange="setFoodSessionType()">
                            <option value="single-session"> Single Session</option>
                            <option value="daily-fooding">  Daily Fooding</option>
                            <option value="decision">       Decision</option>
                        </select>
                    </div>
                </div>
                
                <div id="daily-fooding-container" class="row-center" style="display:none">
                    <div>
                        <div class="row-center">set weekly schedule:</div>
                        <div class="row">
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Monday   </input>
                            </div>
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Tuesday  </input>
                            </div>
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Wednesday</input>
                            </div>
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Thursday </input>
                            </div>
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Friday   </input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Saturday </input>
                            </div>
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Sunday   </input>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="single-session-container" class="row-center" style="display:none">
                    <div>
                        <div class="row-center">set time:</div>
                        <input type="time"></input>
                    </div>
                </div>

                <div id="decision-container" class="row-center" style="display:none">
                    <div class="row-center">
                        <h3>
                            A decision has to be made! 
                            Let´s decide with
                        </h3>
                        <select class="select">
                            <option>Roulette</option>
                            <option>Poll</option>
                            <option>Swyping</option>
                        </select>
                    </div>
                </div>
                
                <div class="row-end">
                    <button class="button">save</button>
                </div>
                <hr>
            <% } %>

            <div class="row">
                <h2>Food-Time: </h2>
                <h2><%= foodsession.foodTime %></h2>
            </div>
            
            <% if(isUserInFoodSession) { %>

                <div class="row">
                    <input type="date"></input>
                    <div class="button">propose different date</div>

                    <input type="time"></input>
                    <div class="button">propose different time</div>
                </div>

                <div class="row">
                    <input type="text"></input>
                    <div class="button">propose different food</div>
                </div>
            <% } %>

            <b>
                members:
            </b>
            <div class="row">
                <% foodsessionentrys.forEach(function(user) { %>
                    <a class="link-button" href="/profile/<%=encodeURIComponent(JSON.stringify({id: user.id}))%>">
                        <div class="col-size-2" data-tooltip= "<%=user.user.name%>"><%= user.user.name == undefined || null? '-' : user.user.name %> </div>
                    </a>
                <% }); %>
            </div>
        
            <div class="row-end">
        
                <a class="link-button" href="/flock-show/<%=encodeURIComponent(JSON.stringify({id: flockId}))%>">
                    <img title="back to flock" alt="back to flock" src="/public/assets/icon-sheep-white.png">
                </a>
        
                <% if(isUserInFoodSession) {%>
                    <a class="link-button" href="/foodsession-leave/<%=encodeURIComponent(JSON.stringify({id: foodsession.id}))%>">
                        <img title="leave session" alt="leave session" src="/public/assets/icon-leave-white.png">
                    </a>
                <% } else { %>
                    <a class="link-button" href="/foodsession-join/<%=encodeURIComponent(JSON.stringify({id: foodsession.id}))%>">
                        <img title="join session" alt="join session" src="/public/assets/icon-add-white.png">
                    </a>
                <% } %>

                <% if(isFlockLeader) { %>
                    <a class="link-button" href="/foodsession-delete/<%=encodeURIComponent(JSON.stringify({id: foodsession.id}))%>">
                        <img title="delete session" alt="delete session" src="/public/assets/icon-delete-white.png">
                    </a>
                <% } %>
        
                
            </div>
        </div>
    </div>    
</div>

<script src="/public/scripts/foodsession.js"></script>
