<div class="screen">
    <%- include('../templates/sidenav'); -%>
    
    <div class="content">
        
        <div class="content-block">
            <div class="row-center">
                <h1>Foodsession</h1>
            </div>
        </div>
        
        <div class="content-card">
            
            <div class="row-center">
                <h2>
                    <%= foodsession.name %>
                </h2>
            </div>

            <% if(isFlockLeader) { %>
                <h2>foodsession settings</h2>
                <div class="row-center">
                    <div>
                        <div>set foodsession-type:</div>
                        <select id="foodsession-type" class="select" onchange="setFoodSessionType()">
                            <option value=""> ?</option>
                            <option value="single-session"> Single Session</option>
                            <option value="daily-fooding">  Daily Fooding</option>
                        </select>
                    </div>
                </div>
                
                <div id="daily-fooding-container" class="row-center" style="display:none">
                    <div>
                        <div class="row-center">set weekly schedule:</div>
                        <div class="row">
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Monday   </input>
                            </div>
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Tuesday  </input>
                            </div>
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Wednesday</input>
                            </div>
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Thursday </input>
                            </div>
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Friday   </input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Saturday </input>
                            </div>
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Sunday   </input>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="single-session-container" class="row-center" style="display:none">
                    <div>
                        <div class="row-center">set time:</div>
                        <input type="time"></input>
                    </div>
                </div>

                <div id="decision-container" class="row-center">
                    <h3>
                        How do you decide what to eat?
                    </h3>
                    <select class="select" id="decision-type" onchange="setDecisionType()">
                        <option default value="">?</option>
                        <option value="roulette">       Roulette</option>
                        <option value="poll">           Poll</option>
                        <option value="swyping">        Swyping</option>
                        <option value="individual">     Individual</option>
                    </select>
                </div>

                <div class="row-center" id="roulette-container" style="display:none">
                    <div>
                        Set filters for the food roulette.

                        <div class="row-center">
                            <select class="select" name="radius" id="distanceSelect" onchange="updateDistanceSelect()">
                                <option value="1"       <% if (input.radius == 1) { %> selected <% } %>>1 km</option>
                                <option value="2"       <% if (input.radius == 2) { %> selected <% } %>>2 km</option>
                                <option value="3"       <% if (input.radius == 3) { %> selected <% } %>>3 km</option>
                                <option value="5"       <% if (input.radius == 5) { %> selected <% } %>>5 km</option>
                                <option value="10"      <% if (input.radius == 10) { %> selected <% } %>>10 km</option>
                                <option value="15"      <% if (input.radius == 15) { %> selected <% } %>>15 km</option>
                                <option value="20"      <% if (input.radius == 20) { %> selected <% } %>>20 km</option>
                                <option value="custom"  <% if (input.radius == 'custom') { %> selected <% } %>>custom (km)</option>
                            </select>

                            <input class="input" type="number" min="1" max="100" id="distanceInput" style="display: none;">
                        </div>
                    </div>
                </div>

                <div class="row-center" id="poll-container" style="display:none">
                    <div>
                        <div class="row-center">Poll settings:</div>
                        <div class="row">
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">allow Multiple answers</input>
                            </div>
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">anonymous answers?</input>
                            </div>
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Wednesday</input>
                            </div>
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Thursday </input>
                            </div>
                            <div class="checkbox-containter">
                                <input class="checkbox" type="checkbox">Friday   </input>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-center" id="swyping-container" style="display:none">
                    <div>
                        Set filters for the food swype.

                        <div class="row-center">
                            <select class="select" name="radius" id="distanceSelect" onchange="updateDistanceSelect()">
                                <option value="1"       <% if (input.radius == 1) { %> selected <% } %>>1 km</option>
                                <option value="2"       <% if (input.radius == 2) { %> selected <% } %>>2 km</option>
                                <option value="3"       <% if (input.radius == 3) { %> selected <% } %>>3 km</option>
                                <option value="5"       <% if (input.radius == 5) { %> selected <% } %>>5 km</option>
                                <option value="10"      <% if (input.radius == 10) { %> selected <% } %>>10 km</option>
                                <option value="15"      <% if (input.radius == 15) { %> selected <% } %>>15 km</option>
                                <option value="20"      <% if (input.radius == 20) { %> selected <% } %>>20 km</option>
                                <option value="custom"  <% if (input.radius == 'custom') { %> selected <% } %>>custom (km)</option>
                            </select>

                            <input class="input" type="number" min="1" max="100" id="distanceInput" style="display: none;">
                        </div>
                    </div>
                </div>

                <div class="row-center" id="individual-container" style="display:none">
                    individual
                </div>
                
                <div class="row-end">
                    <button class="button">save</button>
                </div>
                
                <hr>
            <% } %>

            <div class="row">
                <h2>Food-Time: </h2>
                <h2><%= foodsession.foodTime %></h2>
            </div>
            
            <% if(isUserInFoodSession) { %>

                <div class="row">
                    <input type="date"></input>
                    <div class="button">propose different date</div>

                    <input type="time"></input>
                    <div class="button">propose different time</div>
                </div>

                <div class="row">
                    <input type="text"></input>
                    <div class="button">propose different food</div>
                </div>
            <% } %>

            <b>
                members:
            </b>
            <div class="row">
                <% foodsessionentrys.forEach(function(user) { %>
                    <a class="link-button" href="/profile/<%=encodeURIComponent(JSON.stringify({id: user.id}))%>">
                        <div class="col-size-2" data-tooltip= "<%=user.user.name%>"><%= user.user.name == undefined || null? '-' : user.user.name %> </div>
                    </a>
                <% }); %>
            </div>
        
            <div class="row-end">
        
                <a class="link-button" href="/flock-show/<%=encodeURIComponent(JSON.stringify({id: flockId}))%>">
                    <img title="back to flock" alt="back to flock" src="/public/assets/icon-sheep-white.png">
                </a>
        
                <% if(isUserInFoodSession) {%>
                    <a class="link-button" href="/foodsession-leave/<%=encodeURIComponent(JSON.stringify({id: foodsession.id}))%>">
                        <img title="leave session" alt="leave session" src="/public/assets/icon-leave-white.png">
                    </a>
                <% } else { %>
                    <a class="link-button" href="/foodsession-join/<%=encodeURIComponent(JSON.stringify({id: foodsession.id}))%>">
                        <img title="join session" alt="join session" src="/public/assets/icon-add-white.png">
                    </a>
                <% } %>

                <% if(isFlockLeader) { %>
                    <a class="link-button" href="/foodsession-delete/<%=encodeURIComponent(JSON.stringify({id: foodsession.id}))%>">
                        <img title="delete session" alt="delete session" src="/public/assets/icon-delete-white.png">
                    </a>
                <% } %>
            </div>
        </div>
    </div>    
</div>

<script src="/public/scripts/foodsession.js"></script>
