<%- include('../templates/sidenav'); -%>

<div class="content">

    <div class="create-flock">
        add a new flock
        <form action="flock-create">
            <input name="name" type="text" class="input" placeholder="flock-name"> </input>

            <button class="button">add</button>
        </form>
    </div>

    <% flocks.forEach(function(flock) { %>
        <div class="body-row">

            <div class="col-size-2" data-tooltip= "<%=flock.name%>"><%= flock.name == undefined || null? '-' : flock.name %></div>

            <div class="col-size-2">
                <a class="link-button" href="/profile/<%=encodeURIComponent(JSON.stringify({id: flock.id}))%>">
                    <img title="show user" alt="show user" src="../../public/assets/icon-show.png">
                </a>
                <a class="link-button" href="user-delete/<%=encodeURIComponent(JSON.stringify({id: flock.id}))%>">
                    <img title="delete user" alt="delete user" src="../../public/assets/icon-delete.png">
                </a>
            </div>
        </div>  
    <% }); %>

</div>