<%- include('../templates/sidenav'); -%>

<div class="content-card">
    <b>
        name: 
    </b>
    <div class="col-size-2" data-tooltip= "<%=flock.name%>"><%= flock.name == undefined || null? '-' : flock.name %></div>

    <% usersInFlock.forEach(function(user) { %>
        <div class="body-row">
            <div class="col-size-2" data-tooltip= "<%=user.name%>"><%= user.name == undefined || null? '-' : user.name %></div>
        </div>  
    <% }); %>

</div>