<%- include('../templates/header'); -%>

<div class="content">
    <div class="head-row">
    </div>

    <% users.forEach(function(user) { %>
        <div class="body-row">

            <div class="col-size-2" data-tooltip= "<%=user.name%>"><%= user.name == undefined || null? '-' : user.name %></div>
            <div class="col-size-2" data-tooltip= "<%=user.email%>"><%= user.email == undefined || null? '-' : user.email %></div>

            <div class="col-size-2">
                <a class="link-button" href="/user-profile/<%=encodeURIComponent(JSON.stringify({id: user.id}))%>">
                    <img title="show user" alt="show user" src="../../public/assets/icon-show.png">
                </a>
                <a class="link-button" href="user-delete/<%=encodeURIComponent(JSON.stringify({id: user.id}))%>">
                    <img title="delete user" alt="delete user" src="../../public/assets/icon-delete.png">
                </a>
            </div>
        </div>  
    <% }); %>

</div>