<div class="screen">
    <%- include('../templates/sidenav'); -%>
    
    <div class="content">
        
        <div class="content-block">
            <div class="row-center">
                <h1>Profile</h1>
            </div>
        </div>

        <div class="content-card">
            <b>
                name: 
            </b>
            <div class="col-size-2" data-tooltip= "<%=user.name%>"><%= user.name == undefined || null? '-' : user.name %></div>
            
            <b>
                mail: 
            </b>
            <div class="col-size-2" data-tooltip= "<%=user.email%>"><%= user.email == undefined || null? '-' : user.email %></div>
        
            <%if(isThisUser){%>
                <b>
                    friends:
                </b>
        
                <% friends.forEach(function(friend) { %>
                    <a class="link-button" href="/profile/<%=encodeURIComponent(JSON.stringify({id: friend.id}))%>">
                        <div class="col-size-2" data-tooltip= "<%=friend.name%>"><%= friend.name == undefined || null? '-' : friend.name %> </div>
                    </a>
                <% }); %>
                <% if(friends.length == 0) { %>
                    <div class="col-size-2">
                        no friends added yet    
                    </div>
                <% } %>
        
            <%} else if(!isFriendOfUser) { %>
                <a class="link-button" href="/add-friend/<%=encodeURIComponent(JSON.stringify({userId: user.id}))%>">
                    <img title="invite as friend" alt="invite as friend" src="/public/assets/icon-user-add-white.png">
                </a>
            <% } %>
        </div>
    </div>
</div>